:root {
  --bgColor: #fff;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bgColor);
}
.card {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .imgBx {
  position: relative;
  width: 100%;
  height: 240px;
  background-image: url(house.jpeg);
  background-size: cover;
  border-radius: 15px;
}
.card .imgBx::before {
  content: "";
  position: absolute;
  bottom: 80px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 0px var(--bgColor);
}

.card .imgBx::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% + 10px);
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 0px var(--bgColor);
}

.card .content {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #232949;
  border-radius: 15px;
  border-top-left-radius: 0;
  display: flex;
}
.card .content ul {
  display: inline-block;
  margin: 0;
}
.card .content .price {
  position: absolute;
  top: -90px;
  left: 0;
  width: 50%;
  height: 80px;
  background: #232949;
  border-top: 10px solid var(--bgColor);
  border-right: 10px solid var(--bgColor);
  border-top-right-radius: 25px;
}
.card .content .price::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px -10px 0 0px var(--bgColor);
}
.card .content .price::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -25px;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 0px #232949;
}
.card .content .price a {
  background: #fff;
  position: relative;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 7px;
  color: #333;
  display: block;
  font-weight: 600;
  text-decoration: none;
}
